<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kutar.mapper.BoardMapper">

	<select id="getList" resultType="com.kutar.model.BoardVO">
	<![CDATA[
		SELECT 
			* 
		FROM 
			tbl_board 
		WHERE 
			bno > 0
	]]>
	</select>
	
	<sql id="criteria">
		<trim prefix="WHERE" prefixOverrides="OR">
		<foreach item="type" collection="typeArr">
		<choose>
			<when test="type == 'T'.toString()">
			OR title LIKE '%${keyword}%'
			</when>
			<when test="type == 'C'.toString()">
			OR content LIKE '%${keyword}%'
			</when>
			<when test="type == 'W'.toString()">
			OR writer LIKE '%${keyword}%'
			</when>
		</choose>
		</foreach>
		</trim>
	</sql>
	
	<select id="getListWithPaging" resultType="com.kutar.model.BoardVO" parameterType="com.kutar.common.Criteria">
		SELECT 
			*
		FROM
			tbl_board
		<include refid="criteria" />
		ORDER BY bno DESC
		LIMIT #{rowStart}, #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int" parameterType="com.kutar.common.Criteria">
		SELECT 
			COUNT(*) 
		FROM 
			tbl_board
		<include refid="criteria" />
	</select>
	
	<insert id="insert">
		INSERT INTO 
			tbl_board 
			(title, content, writer)
		VALUE 
			(#{title}, 
			#{content}, 
			#{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
			SELECT MAX(bno)+1 FROM tbl_board
		</selectKey>
		INSERT INTO 
			tbl_board 
			(title, content, writer)
		VALUE 
			(#{title}, 
			#{content}, 
			#{writer})
	</insert>
	
	<select id="read" resultType="com.kutar.model.BoardVO">
		SELECT 
			*
		FROM
			tbl_board
		WHERE
			bno = #{bno}
	</select>
	
	<update id="update">
		UPDATE 
			tbl_board
		SET
			title = #{title},
			content = #{content},
			writer = #{writer},
			updateDate = NOW()
		WHERE
			bno = #{bno}
	</update>
	
	<update id="updateReplyCnt">
		UPDATE tbl_board
		SET replycnt = replycnt + #{amount}
		WHERE bno = #{bno}
	</update>
	
	<delete id="delete">
		DELETE FROM
			tbl_board
		WHERE 
			bno = #{bno}
	</delete>

</mapper>